<form asp-action="Index" method="post">
    <label>ID: </label>
    <input type="text" name="ID"  /> <br />
    <label>Name: </label>
    <input type="text" name="Name"  /> <br />
    <label>Age: </label>
    <input type="number" name="Age"  /> 
    <input type="submit" value="Send" />
</form>

<h2>@ViewBag.Info</h2>
