<form asp-action="Create" method="post" class="row-cols-2">
    <label>ID: </label>
    <input type="text" name="ID" value="192105123" /> <br />
    <label>Name: </label>
    <input type="text" name="Name" value="Nguyen Van A" /> <br />
    <label>Age: </label>
    <input type="number" name="Age" value="20" /> <br />
    <input type="submit" value="Send" />
</form>


<h2>@ViewData["Info"]</h2>